*.o
*.ko
*.mod
*.cmd
*.symvers
*.mod.c
*.order
*.vscode
*.pcapng
*.pcapng.gz

# userspace virtual environment
netcntl/graph_env
netcntlr/manage_qdisc
netcntlr/lib/librtnetlink.a
docs/logs/ntpstat-log.txt
